body, ul {
    margin-top: 0;
    margin-left: 45%;
    margin-right: 0;
    padding: 0;
  }
  
  /* Style the navigation bar */
nav {
    background-color: white;
}
  
ul {
    list-style: none;
    overflow: hidden;
}
  
li {
    float: left;
}
  
a {
    border-right: 1px solid black;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
  
  /* Style the dropdown menu */
.dropdown {
    display: inline-block;
}
  
.dropbtn {
    border-right: 1px solid black;
    font-size: 16px;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
.nmm a:hover {
    background-color: #00008B;
    color: white;
}
.nmm1 a:hover {
    background-color: #00008B;
    color: white;
}
.nmm2 a:hover {
    background-color: #00008B;
    color: white;
}
footer {
    left: 0;
    right: 0;
    position: absolute;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
  }